<h1>{{ pageHeader }}</h1>

<img [src]='imageUrl' alt='Image' />

<div>
  <button (click)="clickEvent()">Click Me!</button>
  <p>Button clicked {{count}} times.</p>
</div>
<div>
  <p>Two way binding</p>
  <input #nameRef type="text" [(ngModel)] = "name">
  <p> Welcome {{name}}</p>
</div>

<div>
  <p>Split two way binding</p>
  <input type="text" [ngModel] = "userName" (ngModelChange)='greetUser($event)'>
  <p> Welcome {{userName}}</p>
</div>

<div>
  <p>Two way binding using Getter and setter</p>
  <input type="text" [(ngModel)] = "customerName">
  <p> Welcome {{customerName}}</p>
</div>
