<h1>Parent Component</h1>
<div>
  <button (click)='userLoggedIn = true'>LogIn</button>
  <button (click) ='userLoggedIn = false'>Logout</button>
</div>
<app-child #child [loggedIn] = 'userLoggedIn' (greetEvent)='greetUser($event)'></app-child>
<p>
 Child component property:  {{child.name}}
</p>
<button (click) ="child.greetUser()"> Greet </button>

<p>Component Interaction with Service</p>
<div>
  <button (click)='greetStudents()'>Greet Students</button>
  <button (click) ='appriciateStudents()'>Appriciate Students</button>
</div>
